[submodule "submodules/bandit"]
	path = submodules/bandit
	url = https://github.com/banditcpp/bandit.git
[submodule "submodules/cmake-modules"]
	path = submodules/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
