[submodule "submodules/bandit"]
	path = submodules/bandit
	url = https://github.com/banditcpp/bandit.git
[submodule "submodules/cmake-modules"]
	path = submodules/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/lmdbxx"]
	path = submodules/lmdbxx
	url = https://github.com/bendiken/lmdbxx.git
